ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  display: block;
  cursor: pointer;
  padding: 10px;
  border-bottom: none;
}

label:hover {
  background: #443e3e;
}

label.last {
  border-bottom: 1px solid #fff;
}

.about {
  padding: 10px;
  background: #59abe3;
}

input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"] ~ .about {
  height: 0;
  transform: scaleY(0);
}

input[type="checkbox"]:checked ~ .about {
  height: 100%;
  transform-origin: top;
  transition: transform 0.2s ease-out;
  transform: scaleY(1);
}

input[type="checkbox"]:checked + label {
  background: #443e3e;
  border-bottom: 1px solid #fff;
}


button {
  width: 20%;
  max-height: 20%;
  height: 20%;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
}

